import 'package:freezed_annotation/freezed_annotation.dart';
import 'package:{{projectName}}/features/{{nameLowerCase}}/domain/entities/{{nameLowerCase}}_entity.dart';

part '{{nameLowerCase}}_model.freezed.dart';
part '{{nameLowerCase}}_model.g.dart';

@freezed
abstract class {{name}}Model with _${{name}}Model {
  const factory {{name}}Model({
    {{#fields}}
    {{type}}? {{name}},
    {{/fields}}
  }) = _{{name}}Model;

  factory {{name}}Model.fromJson(Map<String, dynamic> json) => _${{name}}ModelFromJson(json);
}

extension {{name}}ModelExtension on {{name}}Model {
  {{name}}Entity toEntity() {
    return {{name}}Entity(
      {{#fields}}
      {{name}}: {{name}},
      {{/fields}}
    );
  }
}
